<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pathfinding Algorithms
  body
    #Container
      #Canvas
      #Controls
        #CellStateSelector
          p Change cell to: 
          div
            input#RadioWall(type="radio", name="cellState", value="0", checked)
            label(for="RadioWall") Wall
          div
            input#RadioPath(type="radio", name="cellState", value="1")
            label(for="RadioPath") Path
          div
            input#RadioStart(type="radio", name="cellState", value="2")
            label(for="RadioStart") Start
          div
            input#RadioEnd(type="radio", name="cellState", value="3")
            label(for="RadioEnd") End
        button#GenerateMazeButton GENERATE MAZE
        button#FindPathButton FIND PATH